html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

@media (max-width: 768px) {
  .menu-lateral {
    display: none;
  }

  .temas-grid {
    flex-direction: column;
  }

  .temas-grid .cores {
    height: 70px;
  }
}