<head>
    <title>Cadastro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/cadastro/login.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<section class="section-1">
    <a href="/" style="position: fixed; top: 30px; left: 30px; z-index: 9999;">
        <button style="width: 40px; height: 40px; border-radius: 15px; background-color: var(--gray-50); color: var(--white); border: none; cursor: pointer; box-shadow: 0 4px 10px rgba(0,0,0,0.3);"> <ion-icon name="arrow-back-outline"></ion-icon> </button>
      </a>

    <div class="banner">
        <div class="slogan">
            <h3>Onde iniciantes se tornam</h3>
            <h1>PROFISSIONAIS</h1>
        </div>
    </div>

    <div class="conteudo">
        <img src="assets\image\logoWorkFlow-com-nome.svg" alt="Logo Union">
        <div class="topo">
            <h1 class="text-2xl">Qual sua função?</h1>
        </div>

        <div class="botao">
            <button class="button" type="Register" onclick="location.href='/contratante'">
                <h1 class="text-xl mg-0">Sou um contratante</h1>
                <p>Busco por profissionais</p>
            </button>

            <button class="button" type="Register" onclick="location.href='./freelancer'">
                <h1 class="text-xl mg-0">Sou um freelancer</h1>
                <p>Busco por oportunidades de trabalho</p>
            </button>
        </div>
        <div class="entrar">
            <button type="submit" id="btnLogin" onclick="window.location.href='/login'">Já tem uma
                conta?</button>
        </div>
    </div>

</section>

<script src="../../src/js/hamburguer.js"></script>