<footer class="footer">
    <div class="container-footer">
        <div class="logo-footer"><img src="/assets/image/logoWorkFlow-nome.svg" alt="Logo"></div>
        <div class="links-footer">
            <a href="/termos">Termos e Condições</a>
            <a href="/privacidade">Privacidade</a>
            <a href="/ajuda">Ajuda</a>
            <a href="https://workflow-i2gk.onrender.com/" target="_blank" rel="noopener noreferrer">Conheça o projeto</a>
        </div>
    </div>
</footer>
<script src="/js/theme.js"></script>
