@import "../globals/globals.css";
@import "../index/partials/card.css";

@import "partials/layout.css";

.profilePic {
  position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: -50px;
}

.tabs {
  transition: 0.3s all;
}

.tabs:hover {
  cursor: pointer;
  border-color: var(--white);
  transition: 0.3s all;

}

@media (max-width: 768px) {
  .ProfileInfos {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .buttonsContainer {
    flex-direction: column;
  }
}
